.modal{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width:100%;
    height: 248px;
    border-radius: 24px 24px 0 0;
    background: #FFF;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px 16px 0 38px;
    gap: 12px;
    z-index: 70;
}
.hide_modal{
    display: none;
}
.text{
    color:  #242424;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Yandex Sans Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
    width: 299px;
}
.title{
    color:  #242424;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Yandex Sans Text;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 109.091% */
    letter-spacing: -1px;
}
.img{
    align-self: end;
}