.app{
    display: flex;
    max-width: 430px;
    overflow: hidden;
     margin: 0 auto;
    justify-content: center;
}
.main{

    display: flex;
    align-items: center;
    justify-content: center;
}
.blind_hide{
    width: 100vw;
}
.swipe{

    margin: 0 auto;
    max-width: 327px;
    position: absolute;
    left: 5px;
    right: 5px;
    top: 73px;

}
.swipe_hide{
    display: none;
}
.swipe_index{
    z-index: -10;

    position: absolute;
    left: 5px;
    right: 5px;
    top: 73px;
}

.blind{
    background: rgba(36, 36, 36, 0.60);
    position: fixed;
    height: 100vh;
    width: 100vw;
z-index: 60;


}
.btn_next{
    display: flex;
    width: 327px;
    height: 64px;
    padding: 22px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFF;
    border: none;
    margin-bottom: 25px;
}

.btn_no_profit:active{
    border-radius: 16px;
    background: #FFF1F1;
}
.btn_no_profit:active span{
    opacity: 1;
}

.btn_next span{
    color:  #242424;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Yandex Sans Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 111.111% */
}

.btn_next:active{
    background: #F3F3F3;
}
.btn_next:active span{
    opacity: 1;
}
.btn_no_profit span{
    color:  #FC3F1D;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Yandex Sans Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 111.111% */
}
.btn_no_profit{
    display: flex;
    width: 138px;
    height: 64px;
    padding: 22px 22px 22px 23px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFF;
    border: none;
}
.btn_profit span{
    color:  #28CF73;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Yandex Sans Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 111.111% */
}
.btn_profit{
    display: flex;
    width: 138px;
    height: 64px;
    padding: 22px 22px 22px 23px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFF;
    border: none;
}

.btn_profit:active{
    background: #F1FFF7;
}
.btn_profit:active span{
    opacity: 1;
}
.btn{
    display: flex;
    flex-direction: row;

    margin-bottom: 25px;
    width: 100%;
    justify-content: space-between;
    max-width: 327px;
}
.container{

    height: 610px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.container_hide{
    opacity: 0.5;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.card{
    position: relative;
    margin: 43px 24px 0 24px;
}
.card_content{
    align-items: center;
    justify-content: center;
    height: 436px;
    display: flex;
    flex-direction: column;
    position:relative ;
    border-radius: 24px;
    background: #FFF;



}
.hide{
    display: none;
}
.card_profit{
    position: relative;
    margin: 43px 24px 0 24px;
}
.cardNoProfit{
    position: relative;
    margin: 43px 24px 0 24px;
}
.card_background{
    left: 5%;
    bottom: 20px;
    z-index: -1;
    position: absolute;
    width: 90%;
    height: 100%;
    border-radius: 24px;
    background: linear-gradient(90deg, #FE5B53 4.28%, #D945AE 45.68%, #8A41EA 90.67%);
}
.card_counter{
    display: flex;
    width: 124px;
    height: 48px;
    padding: 12px 36px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: linear-gradient(90deg, #FE5B53 0%, #8A41EA 100%);
    color:  #FBFBFB;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Yandex Sans Text;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 92.308% */
    letter-spacing: -1px;
}
.card_title{
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 24px 16px 24px;
}
.card_text{
    max-width:279px ;
    color:  #242424;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Yandex Sans Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
}
.card_img{
    max-width: 327px;
    max-height: 276px;
}