.card{
    position: relative;
    margin: 43px 0 0 0;

}
.card_profit{

    position: relative;
    margin: 43px 0 0 0;

}
.card_content{
    align-items: center;
    justify-content: space-between;
    height: 436px;
   display: flex;
    flex-direction: column;
    position:relative ;
    border-radius: 24px;
    background: #FFF;



}
.hide{
    display: none;
}
.card_profit{
    position: relative;
    margin: 43px 24px 0 24px;
}
.cardNoProfit{
    position: relative;
    margin: 43px 24px 0 24px;
}
.card_background{
    left: 5%;
    bottom: 20px;
    z-index: -1;
    position: absolute;
    width: 90%;
    height: 100%;
    border-radius: 24px;
    background: linear-gradient(90deg, #FE5B53 4.28%, #D945AE 45.68%, #8A41EA 90.67%);
}
.card_counter{
    display: flex;
    width: 124px;
    height: 48px;
    padding: 12px 36px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: linear-gradient(90deg, #FE5B53 0%, #8A41EA 100%);
    color:  #FBFBFB;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Yandex Sans Text;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 92.308% */
    letter-spacing: -1px;
}
.card_title{
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:40px 24px 0px 24px;
}
.card_title_profit{
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 53px 24px 16px 24px;
}
.card_text{

    max-width:279px ;
    color:  #242424;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Yandex Sans Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
}
.card_hide{
    display: none;
}
.card_text_profit{

    max-width:279px ;
    color:  #242424;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Yandex Sans Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
}
.card_img{
    padding: 5px;
   max-width: 327px;
    max-height: 225px;
}