.img{
    width: 100%;
    height: 100%;
    max-width: 297px;
    max-height: 309px;
    margin: 62px 24px 24px 36px;
}
.error{
    max-width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.logo{
    margin: 20px 0 0 24px;
}
.button{
    width: 90%;
    border-radius: 16px;
    background: url("../../assets/img/bg.png")no-repeat, #1B1C1F;
    border: none;
    max-width: 327px;
    height: 64px;

}
.button:active{
    background: url("../../assets/img/bg_active.png")no-repeat, #15002D;

}
.button span{
    color:  #FBFBFB;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Yandex Sans Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24.421px; /* 135.673% */
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    margin: 0 0 12px 0;
    color:  #242424;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Yandex Sans Text;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 100% */
    letter-spacing: -1px;
}
.text{
    color:  #242424;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Yandex Sans Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
    margin-bottom: 20px;
}
.link{
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none;
}