.back{
    display: flex;
    border-radius: 24px;
    background: #FFF;
    height: 307px;
    margin: 0 20px 0 20px;
    max-width: 327px;
    width: 90%;
    flex-direction: column;
    align-items: center;

}
.text{
    max-width: 267px;
    color:  #242424;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Yandex Sans Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
    margin: 12px 20px 20px 20px;
}
.title{
    margin-top: 63px;
    color:  #242424;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Yandex Sans Text;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 109.091% */
    letter-spacing: -1px;
}
.start{
    max-width: 375px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.button{
    width: 90%;
    border-radius: 16px;
    background: url("../../assets/img/bg.png")no-repeat, #1B1C1F;
    border: none;
    margin: 20px;
    max-width: 327px;
    height: 64px;

}
.button span{
    color:  #FBFBFB;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Yandex Sans Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24.421px; /* 135.673% */
}

.button:active{
    background: url("../../assets/img/bg_active.png")no-repeat, #15002D;
}
.img{
    position: relative;
    top: 50px;
    right: 10px;
    max-width: 314px;
    max-height: 185px;
}
.hide{
    display: none;
}

@media(max-height: 670px){
    .back{
        height: 297px;
    }
}