.title{
    color:  #242424;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Yandex Sans Text;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 109.091% */
    letter-spacing: -1px;
}
.text{
    margin: 0 23px 0 23px;
    max-width: 327px;
    color:  #242424;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Yandex Sans Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 21.6px */
}
.container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;

}
.button{
    width: 90%;
    border-radius: 16px;
    background: url("../../assets/img/bg.png")no-repeat, #1B1C1F;
    border: none;
    margin: 20px;
    max-width: 327px;
    height: 64px;

}
.button:active{
    background: url("../../assets/img/bg_active.png")no-repeat, #15002D;

}
.button span{
    color:  #FBFBFB;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Yandex Sans Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24.421px; /* 135.673% */
    display: flex;
    align-items: center;
    justify-content: center;
}

.img{
    object-fit: cover;
    width: 100%;
    max-width: 430px;
    position: absolute;
    bottom: 0;
}