.entrace{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}
.img{
    max-height: 390px;
    width: 100%;
   object-fit: cover;

}
.title{
    color:  #242424;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Yandex Sans Text;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 100% */
    letter-spacing: -1px;}
.text{
    color:  #242424;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Yandex Sans Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
    margin: 12px 20px 0 20px;
    max-width: 326px;
}
.button{
    width: 90%;
    border-radius: 16px;
    background: url("../../assets/img/bg.png")no-repeat, #1B1C1F;
    border: none;
    margin: 20px;
    max-width: 327px;
    height: 64px;

}
.button span{
    color:  #FBFBFB;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Yandex Sans Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24.421px; /* 135.673% */
}
.button:active{
    background: url("../../assets/img/bg_active.png")no-repeat, #15002D;

}

.hide{
    display: none;
}

@media (max-height:670px ) {
    .img{
        width: 100%;
        object-fit: cover;
        max-height: 380px;
    }
}